<html>
	<head>
		<title> Hello there!</title>
	</head>

	<body>
		<h1>Welcome</h1>
		</br>

		<form action="/hello/" method="post">
			A Greeting: <input type="text" name="greeting" />
			</br>
			Name: <input type="text" name="name" />
			</br>
			<input type="submit">
		</form>
	</body>
</html>