<div class="jumbotron">
	<h1>Box Office</h1>
	<div class="row">
		<% data['results'][0..2].each do |movie| %>
		<div class="col-lg-4">
  		<h2><%= movie['original_title']%></h2>
  		<!-- Image here> -->
  		<img src="https://image.tmdb.org/t/p/w185/9gm3lL8JMTTmc3W4BmNMCuRLdL8.jpg" alt=<%='"'+ movie['original_title'] + '"'%> title=<%='"'+ movie['original_title'] + '"'%> class="img-thumbnail img-responsive center-block">
  		<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
		</div>
		<% end %>
	</div>

	<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	<p><a class="btn btn-lg btn-success" href="#" role="button">View Info</a></p>
</div>

