<div class="row">
	<h1 class="text-center"><%= title %></h1>
</div>
<div class="row">
<% page.data.each_with_index do |movie, index| %>
	<% if (index % (page.data.length/2)) == 0 %>
	<div class="col-md-6" >
	<% end %>
		<!-- REVIEW: It's a good idea to define partials for a row item -->
		<%= erb :_movie, :locals => {:movie => movie} %>
	<% if (index % (page.data.length/2))==((page.data.length/2) -1) %>
	</div>
	<% end %>
	<% end %>
</div>
